:root {
	--sidebar-collapsed-width: 64px;
	--transition-duration: 0.2s;
	--transition-ease: ease-out;
}

/* Show title of unread tabs with red and italic font */
:root.sidebar tab-item.unread .label-content {
	font-weight: bold !important;
}

tab-item {
	overflow: hidden;
	--tab-size: 3.5rem !important;
}

tab-item tab-item-substance {
	padding: 16px !important;
	height: var(--tab-size);
}

tab-item + tab-item {
	border-top: thin solid #ccc;
}

tab-item .background {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

tab-item tab-favicon {
	order: 10 !important;
	margin-left: 16px;
	margin-right: 16px;
	transition: var(--transition-duration) var(--transition-ease);
}

tab-item tab-closebox {
	transition: margin-right var(--transition-duration) var(--transition-ease);
	padding: 0;
	margin-right: -32px;
}

tab-item.active tab-item-substance {
	background-color: #ccc;
}

#tabbar {
	background-color: var(--theme-colors-frame);
	scrollbar-color: #ffffff20 transparent;
	border-right: thin solid #ccc;
}

.newtab-button {
	padding: 10px;
}

.after-tabs button:hover::before {
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

.after-tabs .newtab-button-box {
	background: var(--theme-colors-sidebar);
}

#tabbar-container>.after-tabs .newtab-button-box {
	padding: 0 10px 10px 0;
}

.newtab-action-selector-anchor {
	margin: 0 10px 10px 0;
}
